# ---- Courses -----------------------------------------------
alias geo-mat="module load matlab && MATLABPATH=/uufs/chpc.utah.edu/common/home/lin-group15/jkm/courses/GEO6250/inversion bash -c 'matlab'"

# ---- Horel-Group -------------------------------------------
alias horel-group="cd /uufs/chpc.utah.edu/common/home/horel-group"

# ---- LAIR --------------------------------------------------
alias air="cd /uufs/chpc.utah.edu/common/home/lin-group20/measurements/air.utah.edu"
alias data="cd /uufs/chpc.utah.edu/common/home/lin-group20/measurements/data"
alias group_data="cd /uufs/chpc.utah.edu/common/home/lin-group11/group_data"
alias measurements="cd /uufs/chpc.utah.edu/common/home/lin-group20/measurements"
alias pipeline="cd /uufs/chpc.utah.edu/common/home/lin-group20/measurements/pipeline"
alias pipeline-ps="ps -u u0791084 -f | grep 'run/.*\.r'"

# ---- Lin-Groups --------------------------------------------
# Use `cd ~/lgs/NN` instead of per-group aliases (covers all groups, not just 7-20)
alias lin-space="df -h | grep lin-group"

# ---- Projects ----------------------------------------------
alias lair="cd ~/software/python/pkgs/lair"
alias methane="cd ~/wkspace/methane"
alias mobile="cd ~/lgs/24/jkm/uataq/mobile"

# ---- Python ------------------------------------------------
alias activate-conda="source ~/software/python/miniforge3/etc/profile.d/conda.sh"
alias activate-mamba="source ~/software/python/miniforge3/etc/profile.d/mamba.sh"
alias ipy="ipython"
alias edit-main-env="code ~/software/python/envs/Main.yml"
alias spyder="env -u SESSION_MANAGER spyder"
alias new-spyder="env -u SESSION_MANAGER spyder --new-instance"

# ---- R -----------------------------------------------------
alias r="radian"

# ---- Slurm -------------------------------------------------
alias si="sinfo -o \"%20P %5D %14F %8z %10m %10d %11l %32f %N\""
alias si2="sinfo -o \"%20P %5D %6t %8z %10m %10d %11l %32f %N\""
alias sq="squeue -o \"%8i %12j %4t %10u %20q %20a %10g %20P %10Q %5D %11l %11L %R\""

# ---- User Directories --------------------------------------
alias 4others="cd ~/4others"
alias home="cd ~"
alias public="cd ~/public_html"
alias talks="cd ~/lgs/jkm/24/academic/talks"
alias scratch="cd /scratch/local/$USER"
alias users="ls -la ~/users"
alias wkspace="cd ~/wkspace"
